body{
    background-image: url(fondo2.jpg);
    width: 100vw;
    height: auto;
    margin: 0;
}
header{
    border: 5px solid;
    height: 150px;
    width: 100vw;
    background-color: rgb(249, 209, 228);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-color: rgb(236, 128, 178);
    display: flex;
    align-items: center;
}
header .imagenlogo:hover{
    scale: 1.2;
   
}
header .imagenlogo{
    transition: 1s;
}
header img{
    margin-top: 5px;
    margin-left: 10px;
    height: 130px;
    width: 130px;
  
}
nav{
    border: 5px solid;
    height: 60px;
    width: 100vw;
    margin-top: 150px;
    background-color: rgb(163, 218, 231);
    border-color: rgb(135, 98, 167);
    position: fixed;
    z-index: 1;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.interior{
    border: 5px solid;
    height: 800px;
    width: 1200px;
    background-color: rgb(251, 243, 168, 0.8);
    border-color: rgb(250, 236, 102);
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
section #fechas{
    margin-top: 220px;
    width: 700px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

form{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
h3{
    font-family: "Chewy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    color: rgb(135, 98, 167);
}

footer{
    height: 300px;
    border: 5px solid;
    width: auto;
    background-color: rgb(249, 209, 228);
    border-color: rgb(236, 128, 178);
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    bottom: 0;

}
footer img{
    height: 50px;
    width: 50px;
}
.redes{
    width: 350px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.redes div{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
.contacto{
    height: 200px;
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto img{
    height: 30px;
    width: 30px;
}
.contacto p{
    font-family: "Chewy", serif;
    font-size: 20px;
}
.logoinferior{
    margin-left: 20px;
    height: 250px;
    width: 250px;
}
h1{
        font-family: "Modak", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 120px;
        margin-left: 100px;
        color: rgb(124, 79, 58);
}
h2{
    font-family: "Chewy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: 0;
    color: rgb(135, 98, 167);
}
label{
    font-family: "Chewy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    color: rgb(170, 136, 201);
}

nav a{
    font-size: 30px;
    margin-top: 0;
    font-family: "Chewy", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(108, 196, 216);
    text-decoration: none;
    transition: 1s;
    padding: 5px;
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(135, 98, 167, 0.753);
    display: inline-block;
    border-radius: 20px;
}
nav a:hover{
    background-color: rgb(63, 45, 78);
    color: rgb(201, 233, 240);
    transform: scale(1.2);
}
p{
    font-family: "Chewy", serif;
    font-size: 20px;
}
form [type=submit]{
    background-color: rgb(249, 209, 228);
    border-color: rgb(236, 128, 178); 
    color: rgb(236, 128, 178);
    padding: 8px 16px;
    border: 5px solid;
    border-radius: 20px;
    text-decoration: none;
    margin: 2px 1px;
    cursor: pointer;
    font-size: 30px;
    font-family: "Chewy", serif;
    transition: 50ms;
}
form [type=submit]:hover{
    background-color: rgb(236, 128, 178);
    border-color: rgb(249, 209, 228); 
    color: rgb(249, 209, 228);
}
form [type=email]{
    background-color: rgb(249, 209, 228);
    border-color: rgb(236, 128, 178); 
    color: rgb(236, 128, 178);
    padding: 4px 8px;
    border: 5px solid;
    border-radius: 20px;
    text-decoration: none;
    margin: 2px 1px;
    cursor: pointer;
    font-size: 30px;
    font-family: "Chewy", serif;
    transition: 50ms;
}
form [type=email]:hover{
    background-color: rgb(236, 128, 178);
    border-color: rgb(249, 209, 228); 
    color: rgb(249, 209, 228);
}
form [type=password]{
    background-color: rgb(249, 209, 228);
    border-color: rgb(236, 128, 178); 
    color: rgb(236, 128, 178);
    padding: 4px 8px;
    border: 5px solid;
    border-radius: 20px;
    text-decoration: none;
    margin: 2px 1px;
    cursor: pointer;
    font-size: 30px;
    font-family: "Chewy", serif;
    transition: 50ms;
}
form [type=password]:hover{
    background-color: rgb(236, 128, 178);
    border-color: rgb(249, 209, 228); 
    color: rgb(249, 209, 228);
}
section a{
    background-color: rgb(249, 209, 228);
    border-color: rgb(236, 128, 178); 
    color: rgb(236, 128, 178);
    padding: 8px 16px;
    border: 5px solid;
    border-radius: 20px;
    text-decoration: none;
    margin: 2px 1px;
    cursor: pointer;
    font-size: 30px;
    font-family: "Chewy", serif;
    transition: 50ms;
}
section a:hover{
    background-color: rgb(236, 128, 178);
    border-color: rgb(249, 209, 228); 
    color: rgb(249, 209, 228);
}
